*{
    padding :0;
    margin : 0;
    box-sizing : border-box;
    font-family: "Rubik", sans-serif;

}

body{
    background-color: #fffffe00;
}
.image_tag{
    display: flex;
}
cite{
    margin-left : 16px;
}
input[type="file"]{
    display : none;
}

label{
    display : block;
    position: relative;
    background-color :#337ab7;
    color : #ffff;
    font-size : 18px;
    text-align : center;
    width : 300px;
    padding: 18px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}


.container p{
    text-align : center;
    margin : 20px 0 30px 0;
}
#images{

    position: relative;
    margin : auto;
    display: flex;
    justify-content :space-evenly;
    gap : 20px;
    flex-wrap : wrap;
}

img{
    max-width: 300px;
    max-height: 250px;
}


body{margin-top:20px;}

.shop-filter__color input[type="text"] {
  display: none;
}
.shop-filter__color {
  display: inline-block;
  margin: 0 2px 2px 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border : 1px solid #dedede;
  cursor: pointer;
  margin-right : 10px;
}
.label{
      border-radius: 20px;
}
.body-content{
    padding: 30px 10px 90px 30px;

}
.color_tag{
  display: inline-block;
  margin: 0 2px 2px 0;
  width : 20px;
  border : 1px solid #dedede;
  padding-left:26px;
  height: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.generate_tag{
    text-align : center;
    margin : 20px 0 0 0;
}
.container-content{
    margin-top : 60px;
}
.yellow{
    background-color : yellow;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  margin-left: 12px;
  border-radius: 50%;
  display: inline-block;
}
.submitButton{
    text-align : center;
    margin : 60px 0 0 0;
}
