<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/base.js}"></script>
</head>
<body>
<th:block layout:fragment="page-content">
    <div class="container bootstrap snippets bootdey">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/login">Login</a></li>
                <li class="inactive"><a href="/register">Register</a></li>
            </ul>
            <h3 class="text-muted Fprj-name">BiMi Shop</h3>
        </div>

        <div class="jumbotron text-center" style="min-height:400px;height:auto;">
            <div class="col-md-10 col-md-offset-2">
                <form class="form-horizontal" role="form" th:action="@{/login}" method="post" th:object="${loginForm}">
                    <div class="form-group text-center">
                        <div class="col-sm-10 reg-icon">
                            <span class="fa fa-user fa-3x"> Đăng nhập</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="User Name" th:field="*{username}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js-on-this-page">

</th:block>
</body>