<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/base.js}"></script>

</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">

            <!-- Filter -->
            <form class="shop__filter">
                <!-- Price -->
                <h3 class="headline">
                    <span>Mức giá</span>
                </h3>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_1" value="" checked="">
                    <label for="shop-filter-price_1">Dưới 100k</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_2" value="">
                    <label for="shop-filter-price_2">100k đến 200k</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_3" value="">
                    <label for="shop-filter-price_3">200k đến 500k</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_4" value="specify">
                    <label for="shop-filter-price_4">Tùy chọn</label>
                </div>
                <div class="form-group shop-filter__price">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="shop-filter-price_from" class="sr-only"></label>
                            <input id="shop-filter-price_from" type="number" min="0" class="form-control" placeholder="Từ" disabled="">
                        </div>
                        <div class="col-xs-4">
                            <label for="shop-filter-price_to" class="sr-only"></label>
                            <input id="shop-filter-price_to" type="number" min="0" class="form-control" placeholder="Đến" disabled="">
                        </div>

                    </div>
                </div>

                <!-- Radios -->
                <h3 class="headline">
                    <span>Thể loại</span>
                </h3>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_1" value="" checked="">
                    <label for="shop-filter-radio_1">Áo phông</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_2" value="">
                    <label for="shop-filter-radio_2">Áo sơ mi</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_3" value="">
                    <label for="shop-filter-radio_3">Áo nỉ</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_4" value="">
                    <label for="shop-filter-radio_4">Áo khoác</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_5" value="">
                    <label for="shop-filter-radio_5">Váy</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_6" value="">
                    <label for="shop-filter-radio_5">Quần dài</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_7" value="">
                    <label for="shop-filter-radio_5">Quần short</label>
                </div>

                <!-- Colors -->
                <h3 class="headline">
                    <span>Màu sắc</span>
                </h3>
                <div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_1" value="" data-input-color="white">
                        <label for="shop-filter-color_1" style="background-color: white;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_2" value="" data-input-color="pink">
                        <label for="shop-filter-color_2" style="background-color: pink;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_3" value="" data-input-color="red">
                        <label for="shop-filter-color_3" style="background-color: red;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_4" value="" data-input-color="orange">
                        <label for="shop-filter-color_4" style="background-color: orange;"></label>
                    </div>
                </div>
                <div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_5" value="" data-input-color="yellow">
                        <label for="shop-filter-color_5" style="background-color: yellow;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_6" value="" data-input-color="blue">
                        <label for="shop-filter-color_6" style="background-color: blue;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_7" value="" data-input-color="gray">
                        <label for="shop-filter-color_7" style="background-color: gray;"></label>
                    </div>
                    <div class="shop-filter__color">
                        <input type="text" id="shop-filter-color_8" value="" data-input-color="black">
                        <label for="shop-filter-color_8" style="background-color: black;"></label>
                    </div>
                </div>
            </form>
            <div class="well">
                <div class="row">
                    <div class="col-sm-36">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-block btn-default">Tìm kiếm</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-block btn-danger">Thiết lập lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-9">
            <!-- Filters -->
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="inactive"><a id="btn-popular">Popular</a></li>
                    <li class="active"><a id="btn-newest">Newest</a></li>
                    <li class="inactive"><a id="btn-bestseller">Best-Seller</a></li>
                    <li class="inactive"><a id="btn-sale">Selling</a></li>
                    <li class="inactive"><a id="btn-account">Account</a></li>
                </ul>
                <h3 class="text-muted Fprj-name">BiMi Shop</h3>
            </div>
            <div class="container bootdey">
                <div class="col-md-10">
                    <div class="title"><span>Featured Products</span></div>
                    <div class="col-sm-4 col-md-3 box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-info">Featured</span></span>
                                    <span class="label-tags"><span class="label label-warning">Polo</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">IncultGeo Print Polo T-Shirt</a></h6>
                            <div class="price">
                                <div>$16.59<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <a href="#">(2 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-info">Featured</span></span>
                                    <span class="label-tags"><span class="label label-warning">Polo</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">Tommy HilfigerNavy Blue Printed Polo T-Shirt</a></h6>
                            <div class="price">
                                <div>$45.27<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <a href="#">(3 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-info">Featured</span></span>
                                    <span class="label-tags"><span class="label label-warning">Polo</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">WranglerNavy Blue Solid Polo T-Shirt</a></h6>
                            <div class="price">
                                <div>$25.59<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <a href="#">(4 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 hidden-sm hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-info">Featured</span></span>
                                    <span class="label-tags"><span class="label label-warning">Polo</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">NikeAs Matchup -Pq Grey Polo T-Shirt</a></h6>
                            <div class="price">
                                <div>$15.79<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="title"><span>V-Neck Collection</span></div>
                    <div class="col-sm-4 col-md-3 box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-success">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">PhosphorusGrey Melange Printed V Neck T-Shirt</a></h6>
                            <div class="price">
                                <div>$5.25<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <i class="ace-icon fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-success">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">United Colors of BenettonNavy Blue Solid V Neck T Shirt</a></h6>
                            <div class="price">
                                <div>$13.57<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <i class="ace-icon fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-success">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">WranglerBlack V Neck T Shirt</a></h6>
                            <div class="price">
                                <div>$12.00<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <i class="ace-icon fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 hidden-sm hidden-xs box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                    <span class="label-tags"><span class="label label-success">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add to Cart"><i class="ace-icon fa fa-shopping-cart"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">Tagd New YorkGrey Printed V Neck T-Shirts</a></h6>
                            <div class="price">
                                <div>$8.09<span class="price-down">-10%</span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star"></i>
                                <i class="ace-icon fa fa-star-half-o"></i>
                                <i class="ace-icon fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">

                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>

                </div>
            </div> <!-- / .row -->

        </div> <!-- / .col-sm-8 -->
    </div> <!-- / .row -->
</div>
</body>

</html>