<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/selling.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/selling.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/base.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="container bootstrap snippets bootdey">
        <div class="col-md-12">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="inactive"><a id="btn-popular">Phổ biến</a></li>
                    <li class="inactive"><a id="btn-newest">Mới nhất</a></li>
                    <li class="inactive"><a id="btn-bestseller">Bán chạy</a></li>
                    <li class="active"><a id="btn-sale">Bán hàng</a></li>
                    <li class="inactive"><a id="btn-account">Tài khoản</a></li>
                </ul>
                <h3 class="text-muted Fprj-name">BiMi Shop</h3>
            </div>
            <hr>
            <div class="container">
                <input type="file" id="file-input" accept="image/png, image/jpeg, image/jpg" multiple>
                <label for="file-input">
                    <i class="fas fa-upload"></i>
                    &nbsp;
                    Choose a photo
                </label>
                <p id="num-of-files" >No Files Chosen</p>
                <div id="images">
                </div>
            </div>
            <div class="container-content">
                <div class="col-md-6 generate_tag">
                    <h4>Thể loại</h4>
                    <div id="categories" >
                    </div>
                </div>
                <div class="col-md-6 generate_tag">
                    <h4>Màu sắc</h4>
                    <div id="colors">
                    </div>
                </div>
                <div class="col-md-6 generate_tag">
                    <h4>Mô tả</h4>
                    <textarea class="form-control" id="description" rows="16"></textarea>
                </div>
                <div class="col-md-3 generate_tag">
                    <h4>Tiêu đề</h4>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="col-md-3 generate_tag">
                    <h4>Địa chỉ</h4>
                    <select class="form-control" id="address">
                        <option>Hà Nội</option>
                        <option>TP Hồ Chí Minh</option>
                        <option>Thái Bình</option>
                        <option>Bắc Ninh</option>
                        <option>Hải Phòng</option>
                    </select>
                </div>
                <div class="col-md-3 generate_tag">
                    <h4>Số lượng</h4>
                    <input type="number" class="form-control" id="quantityInStock">
                </div>
                <div class="col-md-3 generate_tag">
                    <h4>Giá</h4>
                    <input type="number" class="form-control" id="cost">
                </div>
                <div class="col-md-3 generate_tag">
                    <h4>Giảm giá</h4>
                    <input type="number" class="form-control" id="discount">
                </div>
                <div class="col-md-6 submitButton" >
                    <button type="button" class="btn btn-primary"  id="saveButton">Save</button>
                </div>

            </div>

            <!--Modal-->
            <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width : 400px; margin-left: auto; margin-right: auto">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Tag</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="id" val="">
                                <select class="form-control" id="edit_tagCategory" value="">
                                    <option>Quần Dài</option>
                                    <option>Quần Short</option>
                                    <option>Váy Liền</option>
                                    <option>Áo Phông</option>
                                    <option>Áo Sơ Mi</option>
                                    <option>Áo Nỉ</option>
                                    <option>Áo Khoác</option>
                                </select>
                            <section style="margin-top: 10px" id="edit_tagColor" value="">
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="white">
                                    <label style="background-color: #f7efef; color : white"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="pink">
                                    <label  style="background-color: pink; color : pink"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="red">
                                    <label  style="background-color: red; color : red"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="orange">
                                    <label  style="background-color: orange; color : orange"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="yellow">
                                    <label  style="background-color: yellow; color : yellow"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="blue">
                                    <label  style="background-color: blue; color : blue"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text"  value="" data-input-color="gray">
                                    <label  style="background-color: gray; color: gray"></label>
                                </div>
                                <div class="shop-filter__color">
                                    <input type="text" value="" data-input-color="black">
                                    <label  style="background-color: black; color; black"></label>
                                </div>
                            </section>
                        </div>
                        <input type="hidden" th:value="${url}" id="autoTaggingSystemPath">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary save_change">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
